*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.signIn{
    width:50%;
    height:100%;
    background-position: center;
    background-image: url(./asset/imgs/signIn.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px;
}
.formDiv{
    width:40%;
    height:100%;
    background-color: #fff;
    padding:50px 60px;
}
.signIn a img{
    width:200px;
}
.formDiv a img{
    width:200px;
}
.formDiv .text{
    color:#3d3d3e;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 40px;
}
.formDiv .txt{
    color:#56c5d0;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-top: 6px;
}
.formDiv form{
    width:100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.formDiv form label{
    width:100%;
    color:#3d3d3e;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 10px;
}
.formDiv form input{
    width:100%;
    height: 40px;
    background-color: #6D6E710D;
    border-radius: 10px;
    border:none;
    outline:none;
    margin-bottom: 30px;
    padding: 0 25px;
}
.formDiv form input[type=password]{
    margin-bottom: 0;
}
.formDiv form a{
    width:100%;
    text-align: right;
    color:#3d3d3e;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    text-decoration: none;
}
.formDiv form button{
    width:100%;
    height: 40px;
    border-radius: 10px;
    background-color: #56c5d0;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    color:#fff;
    text-align: center;
    border:none;
    outline:none;
    margin-top: 40px;
    cursor: pointer;
}
@media screen and (max-width:768px){
    .signIn{
        width:40%;
    }
    .formDiv{
        width:60%;
    }
}
@media screen and (max-width:768px){
    .signIn{
        width:40%;
        display: none;
    }
    .formDiv{
        width:100%;
    }
}